body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

  .recepcion {
    background-color: #1e90ff; /* Azul */
    color: white;
  }
  .validacion {
    background-color: #ffd700; /* Amarillo */
    color: black;
  }
  .ejecucion {
    background-color: #ffa500; /* Naranja */
    color: white;
  }
  .finalizacion {
    background-color: #32cd32; /* Verde */
    color: white;
  }